---
const { href, cssClass, IsProtected = false } = Astro.props;
---

<a 
href={href} 
class={cssClass} 
data-protected={IsProtected} 
data-href={href}
>
    <slot />
</a>

<script>
    const links = document.querySelectorAll('a[data-protected="true"]');

    links.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            const confirmMessage = link.getAttribute('data-confirm-message') || "Anda harus masuk untuk mengakses halaman ini. Lanjutkan?";
            
            if (confirm(confirmMessage)) {
                window.location.href = "/signup";
            }
        });
    });
</script>