---
import api from "../services/api.js";
let doctors = [];

try {
	const { data: response } = await api.get("/api/doctors");
	doctors = response?.data ?? [];
} catch {
	doctors = [];
}
---

<p class="h2 fw-bold text-dark mb-0">{doctors.length}</p>