---
import "../styles/global.css";
import Header from "../components/header.astro";
import Layouts from "../layouts/layouts.astro";
import FormLogin from "../components/formLogin.astro";
const title = "Klinik Sehat | Login";
---

<Layouts {title}>
    <!-- Header -->
    <Header Page={title.split(" | ")[1]} cssClass="sticky-top"s />

    <div
        class="container font-iosevka d-flex align-items-center py-5 min-vh-100"
    >
        <div class="row justify-content-center w-100 mb-3 mb-md-5">
            <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 ms-11">
                <div class="card border-1 rounded-4 shadow-sm">
                    <div class="card-body p-2 p-md-3">
                        <h5 class="text-uppercase text-center mb-3">
                            Login
                        </h5>
                        
                        <FormLogin />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</Layouts>
