---
import "../styles/global.css";
import Layouts from "../layouts/layouts.astro";
const title = "Klinik Sehat | Daftar Akun";
---

<Layouts {title}>
    <div
        class="container font-iosevka min-vh-100 d-flex flex-column justify-content-center"
    >
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-lg-6 col-xl-5">
                <div class="card border-1 rounded-4 shadow-sm">
                    <div class="card-body p-4">
                        <h5 class="text-uppercase text-center mb-1">
                            Create an account
                        </h5>
                        <small class="d-block text-center text-muted mt-1 mb-3"
                            >Sebelum membuat reservasi, silakan buat akun
                            terlebih dahulu.</small
                        >
                        <form>
                            <div class="form-outline mt-2 mb-3">
                                <label class="form-label" for=""
                                    >Nama Lengkap</label
                                >
                                <input
                                    required
                                    type="text"
                                    id=""
                                    class="form-control form-control-sm bg-body-secondary"
                                />
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="">Email</label>
                                <input
                                    required
                                    type="email"
                                    id=""
                                    class="form-control form-control-sm bg-body-secondary"
                                />
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="">Password</label
                                >
                                <input
                                    required
                                    type="password"
                                    id=""
                                    class="form-control form-control-sm bg-body-secondary"
                                />
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for=""
                                    >Repeat your password</label
                                >
                                <input
                                    type="password"
                                    id=""
                                    class="form-control form-control-sm bg-body-secondary"
                                />
                            </div>

                            <div
                                class="form-check d-flex justify-content-center mb-2"
                            >
                                <input
                                    class="form-check-input me-2 bg-dark"
                                    type="checkbox"
                                    value="false"
                                    id="checkBox"
                                    required
                                />
                                <label class="form-check-label" for="">
                                    I agree all statements in <a
                                        href="#!"
                                        class="text-body"
                                        ><u>Terms of service</u></a
                                    >
                                </label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <a href="/signup">
                                    <button
                                        type="button"
                                        class="btn btn-success btn-block btn-md text-white"
                                        >Register</button
                                    >
                                </a>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">
                                Have already an account? 
                                <a
                                    href="/login"
                                    class="fw-bold text-body"
                                    >
                                    <u class="text-decoration-none"
                                    >
                                    Login here
                                    </u>
                                    </a
                                >
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layouts>

<script is:inline></script>
